html {
    background-color: silver;
}

.h1 {
    color: chocolate;
    background-color: black;
}

#content {
    color: red;
}

f{
    background-color: #3b5998;
}

i{
    background-color: #e95950;
}

t{
    background-color: #00acee;
}